<div class="mx-5">
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New System
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="newSystemForm" (ngSubmit)="create()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput type="text" formControlName="id">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sources [paths to repos or iglog files on separate lines]</mat-label>
          <textarea matInput placeholder="put paths here on separate lines" formControlName="sources"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Issues [paths to issues files]</mat-label>
          <textarea formControlName="issues" matInput placeholder="put paths here on separate lines"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Remotes [paths to remote info files]</mat-label>
          <textarea formControlName="remotes" matInput placeholder="put paths here on separate lines"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="accent" type="submit" class="create-button"
              matTooltip="This may take a while"
              [disabled]="newSystemForm.invalid">
        Create and Analyze
      </button>
    </form>
  </mat-expansion-panel>


  <table *ngIf="availableSystems && availableSystems.length > 0" mat-table
         [dataSource]="availableSystems" class="w-100 mt-5">
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef class="name-col" mat-header-cell>Name</th>
      <td *matCellDef="let system" class="name-col" mat-cell>{{system.name}}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef class="id-col" mat-header-cell>Id</th>
      <td *matCellDef="let system" class="id-col" mat-cell>{{system.id}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="actions-col" mat-header-cell>Actions</th>
      <td *matCellDef="let system" class="actions-col" mat-cell>
        <button mat-button color="accent" class="mx-1" (click)="analyze(system)"><i class="fas fa-microscope"></i>
        </button>
        <button mat-button color="warn" class="mx-1" (click)="delete(system)"><i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="systemTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: systemTableColumns;"></tr>
  </table>
</div>
