<div class="mx-5">
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New System
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="newSystemForm" (ngSubmit)="create()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput type="text" formControlName="id">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Sources [paths to repos or iglog files on separate lines]</mat-label>
          <textarea matInput placeholder="put paths here on separate lines" formControlName="sources"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="accent" type="submit" class="create-button"
              matTooltip="This may take a while"
              [disabled]="newSystemForm.invalid">
        Create
        and Analyze
      </button>
    </form>
  </mat-expansion-panel>


  <table *ngIf="availableSystems && availableSystems.length > 0" mat-table
         [dataSource]="availableSystems" class="w-100 mt-5">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let system">{{system.name}}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let system">{{system.id}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let system">
        <button mat-button color="accent" class="mx-1" (click)="analyze(system)"><i class="fas fa-microscope"></i>
        </button>
        <button mat-button color="warn" class="mx-1" (click)="delete(system)"><i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="systemTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: systemTableColumns;"></tr>
  </table>
</div>
